body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter', sans-serif, system-ui;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;
  
  .headerLeft {
    display: flex;
    align-items: center;
    
    h3, p {
      margin: 0;
    }

    p {
      opacity: 0.5;
    }

    img {
      margin-right: 15px;
    }
  }

  .headerRight {
    display: flex;

    li:first-child {
      margin-right: 30px;

    }
  }
}

.content {
  padding: 40px;

  h1 {
    margin: 0;
    margin-bottom: 40px;
  }

  .sneakers {
    display: flex;
  }

  .card {
    border: 1px solid #F3F3F3;
    padding: 30px;
    width: 220px;
    border-radius: 40px;
    margin-right: 30px;

    h5 {
      font-weight: 400;
      font-size: 14px;
    }

    .cardInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cardPrice {
        display: flex;
        flex-direction: column;

        span {
          font-size: 13px;
          opacity: 0.5;
          text-transform: uppercase;
        }

        b {
          font-size: 14px;
        }
      }

      button {
        background: #ffffff;
        border: 1px solid #f2f2f2;
        box-sizing: border-box;
        border-radius: 8px;
        height: 32px;
        width: 32px;
        cursor: pointer;
      }
    }
  }
}